.gray {
    display: inline-block;
    border: 1px solid #E0E0E0;
    font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #FFFFFF;
}

.gray table {
    border-collapse: separate;
}

.gray-cell {
    padding: 1px;
    text-align: center;
    width: 22px;
    line-height: 16px;
    border: 1px solid transparent;
}

.gray-cell-hover {
    color: #ffffff  !important;
    background-color: #AAA !important;
    border-color: #AAA;
}

.gray-no-day {
    color: #999999 !important;
    text-decoration: line-through;
}

.gray-yes-day {
    cursor: pointer;
}

.gray-selected-day {
    color: #ffffff !important;
    background-color: #666 !important;
    border-color: #666;
}

.gray-off-month {
    color: #BCBCBC !important;
}

.gray-weekend {
    background-color: #F0F0F0;
    color: #444;
}

.gray-days {
    font-weight: bold;
    font-size: 11px;
}

.gray-days td {
    background-color: #F9F9F9;
    color: #555;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
}

.gray-prev-link, .gray-next-link, .gray-current {
    text-align: center;
    color: #333;
}

.gray-next-link, .gray-prev-link {
    font-size: 14px;
    cursor: pointer;
}

.gray-link-hover {
    background-color: #E0E0E0;
}