.grey {
    display: inline-block;
    border: 1px solid #E0E0E0;
    font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #FFFFFF;
}

.grey table {
    border-collapse: separate;
}

.grey-cell {
    padding: 1px;
    text-align: center;
    width: 22px;
    line-height: 16px;
    border: 1px solid transparent;
}

.grey-cell-hover {
    color: #ffffff  !important;
    background-color: #AAA !important;
    border-color: #AAA;
}

.grey-no-day {
    color: #999999 !important;
    text-decoration: line-through;
}

.grey-yes-day {
    cursor: pointer;
}

.grey-selected-day {
    color: #ffffff !important;
    background-color: #666 !important;
    border-color: #666;
}

.grey-off-month {
    color: #BCBCBC !important;
}

.grey-weekend {
    background-color: #F0F0F0;
    color: #444;
}

.grey-days {
    font-weight: bold;
    font-size: 11px;
}

.grey-days td {
    background-color: #F9F9F9;
    color: #555;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
}

.grey-prev-link, .grey-next-link, .grey-current {
    text-align: center;
    color: #333;
}

.grey-next-link, .grey-prev-link {
    font-size: 14px;
    cursor: pointer;
}

.grey-link-hover {
    background-color: #E0E0E0;
}